@import "tailwindcss";

@theme {
  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Merriweather Sans", sans-serif;
  --font-tertiary: "Josefin Sans", sans-serif;
  --font-quaternary: "League Spartan", sans-serif;
}
